{% extends "base.html" %}

{% block content %}
<div class="topic">
  <h1 style="text-align:center; margin-top:30px;">Patient Details</h1>
</div>
<div class="privacy-container">
  <div class="patient-info">
      <h3>Patient Information</h3>
      <div class="info-grid">
          <p><strong>Name:</strong> {{ patient.name }}</p>
          <p><strong>Email:</strong> {{ patient.email }}</p>
          <p><strong>Phone:</strong> {{ patient.phone }}</p>
          <p><strong>Age:</strong> {{ patient.age }}</p>
          <p><strong>Gender:</strong> {{ patient.gender }}</p>
          <p><strong>Blood Group:</strong> {{ patient.blood_group }}</p>
      </div>
  </div>
  <div class="record-box">
  <h3>Medical Records History</h3>

  {% if history %}
      {% for record in history %}
      <div class="history-record">
          <div class="record-header">
              <strong>Record Date: {{ record.date_recorded.strftime('%Y-%m-%d %I:%M %p') }}</strong>
              <div class="record-actions">
                  <a href="{{ url_for('edit_patient_record', record_id=record.id) }}">
                    <button class="btn-small">
                      Edit
                    </button>
                  </a>

                  <form method="POST" action="{{ url_for('delete_patient_record', record_id=record.id) }}" style="display:inline;">
                      <button type="submit" class="btn-small1">Delete</button>
                  </form>
              </div>
          </div>

          <div class="record-content">
              {% if record.medical_history %}
                  <p><strong>Medical History & Diagnosis:</strong> {{ record.medical_history }}</p>
              {% endif %}

              {% if record.allergies %}
                  <p><strong>Allergies:</strong> {{ record.allergies }}</p>
              {% endif %}

              {% if record.current_medications %}
                  <p><strong>Prescription & Medications:</strong> {{ record.current_medications }}</p>
              {% endif %}

              {% if record.notes %}
                  <p><strong>Clinical Notes:</strong> {{ record.notes }}</p>
              {% endif %}
          </div>

          <hr>
      </div>
      {% endfor %}
  {% else %}
      <p>No medical history records found.</p>
  {% endif %}
  </div>
    <button onclick="window.print()" class="btn-primary print-btn">Print Records</button>
</div>
{% endblock %}